{% extends 'base.html' %}
{% block content %}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Posts</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
        {% if user.role == 'AUTHOR' %}
      <td><a href="{% url 'blog_view' blog.id %}">View Posts</a></td>
        {% else %}
        <td>-------</td>
        {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock content %}