html {
    font-family: Arial, serif;
}


.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #33aa57;
    color:  #ffffe6;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}



.sidebar a {
    text-decoration: none;
    color:  #ffffe6;
    display: block;
}
a{
    text-decoration: none;
}


.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar nav{
    padding-left: 10px;
}


.main {
    margin-left: 210px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.avatar {
    width: 80%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 8px;
  text-align: center;
}

.table th {
  padding: 8px;
  background-color: #f2f2f2;
  text-align: center;
}

.col-1,
.col-2,
.col-3 {
  width: 33.33%;
}
