{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="sidebar">
        <nav>
            <h1>BlogApp</h1>
            {% if user.is_authenticated %}
                    <p>hey, {{ request.user }}</p>
                {% if request.user.profile_photo %}
                     <img class="avatar" src="{{ user.profile_photo.url }}" alt="profile photo">
                {% endif %}
                    <a href="{% url 'home' %}">Home</a><br>
                <a href="{% url 'upload_profile' %}">Upload Profile</a><br>
                {% if perms.blog.add_blog  %}
                    <a href="{% url 'add_blog' %}">Add a blog</a><br>
                {% endif %}
                <a href="{% url 'users_list' %}">Users list</a><br>
                <a href="{% url 'group_post' %}">Group posts</a><br>
                <a href="{%url 'logout'%}">logout</a><br>

            {% endif %}
        </nav>
    </div>

        <div class="main">
            {% block content%}{%endblock content%}
        </div>

</body>
</html>