{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="sidebar">
        <nav>
            <h1>BlogApp</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'add_blog' %}">Add a blog</a><br>
                <a href="{%url 'logout'%}">logout</a><br>
            {% endif %}
        </nav>
    </div>

        <div class="main">
            {% block content%}{%endblock content%}
        </div>

</body>
</html>